<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container-fluid" >
        <div class="row table-responsive" >
            <div class="col-md-12">
                <h3>Add Indicator</h3>        
                <form action="/add_indicator/" method="post">
                    {% csrf_token %}
                    {{ form.as_ul }}
                    <input type="submit" value="Add">
                </form>
                <a href="/indicators"><h3>Show Indicators</h3></a> 
                <a href="/stocks"><h3>Show Stocks</h3></a> 
                <a href="/update"><h3>update Data</h3></a> 
            </div> 
        
       </div>
    </div>  

    <script>
      $( function() {
          $( ".datepicker" ).datepicker({
            showButtonPanel: true
          });
        } );
    </script>

  </body>


</html>