<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container-fluid" >
        <div class="row table-responsive" >
            <div class="col-md-12">
                    <div class="table-responsive"></div>
                    <a href="/"><h3>Home</h3></a>
                    <table class="table table-striped table-bordered table-hover" id="indicator-table">
                            <thead>
                                <tr>
                                    <th scope="col">Trade log</th>
                                    <th scope="col">delete</th>
                                    <th scope="col">update</th>
                                    <!-- <th scope="col">id</th> -->
                                    {% for header in headers%}
                                        <th scope="col">{{header}}</th>
                                    {%endfor%}
                                </tr>
                            </thead>
                            <tbody >
                            </tbody>
                    </table>
               </div>
                
         
            </div>
       </div>
    </div>  



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    {% csrf_token %}
    <script type="text/javascript">
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $.ajax({
            url : 'http://localhost:8000/get_indicator',
            type : 'GET',
            success : function(data) {              
                Object.keys(data).forEach(function(name) {
                    $("#indicator-table > tbody").append('<tr></tr>');
                    $("#indicator-table > tbody").children().last().append('<td>\
                                            <form action="/indicators/'+name+'/" method="POST">\
                                                {% csrf_token %}\
                                                <input type="submit" value="Trade log">\
                                            </form>\
                                        </td>\
                                        <td>\
                                            <form action="/indicators/'+name+'/delete" method="POST">\
                                                {% csrf_token %}\
                                                <input type="submit" value="delete">\
                                            </form>\
                                        </td>\
                                        <td>\
                                            <input type="button" value="update" class="indicator-update" id="/indicators/'+name+'/update">\
                                        </td>');
                    console.log(Object.values(data[name]))                    
                    $.each(Object.values(data[name]),function(index,key) {
                        console.log(key, data[name][index]);
                        $("#indicator-table > tbody").children().last().append('<td>' + data[name][index] + '</td>');
                    });
                    $('.indicator-update').click(function (e) {
                        e.preventDefault();
                        console.log('here')
                        $.ajax({
                            type: "POST",
                            url: $(this).attr('id'),
                            data: "",
                            success: function(result) {
                                alert('ok');
                            },
                            error: function(result) {
                                alert('error');
                            }
                        });
                    });
                });
            },
            error : function(request,error)
            {
                alert("Request: "+JSON.stringify(request));
            }
            });
            </script>
</body>
</html>