<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container-fluid" >
        <div class="row table-responsive" >
            <div class="col-md-12">
                    <div class="table-responsive"></div>
                    <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Stock History</th>
                                    <!-- <th scope="col">id</th> -->
                                    {% for header in headers%}
                                        <th scope="col">{{header}}</th>
                                    {%endfor%}
                                    <!-- <th scope="col">tmc_id</th>
                                    <th scope="col">q1</th>
                                    <th scope="col">namad</th>
                                    <th scope="col">nam</th>
                                    <th scope="col">q2</th>
                                    <th scope="col">avalin</th>
                                    <th scope="col">payani</th>
                                    <th scope="col">akharin_moamele</th>
                                    <th scope="col">tedad_moamelat</th>
                                    <th scope="col">hajm_moamelat</th>
                                    <th scope="col">arzesh_moamelat</th>
                                    <th scope="col">baze_rooz_kam</th>
                                    <th scope="col">baze_rooz_ziad</th>
                                    <th scope="col">dirooz</th>
                                    <th scope="col">eps</th>
                                    <th scope="col">q3</th>
                                    <th scope="col">q4</th>
                                    <th scope="col">q5</th>
                                    <th scope="col">q6</th>
                                    <th scope="col">mojaz_ziad</th>
                                    <th scope="col">mojaz_kam</th>
                                    <th scope="col">q7</th>
                                    <th scope="col">q8</th> -->
                                </tr>
                            </thead>
                            <tbody >
                                {%for stock in stocks%}
                                    <tr>
                                        <th>
                                            <form action="/indicator/stocks/{{stock.fields.tmc_id}}/" method="POST">
                                                {% csrf_token %}                                                      
                                                <input type="submit" value="Stock History">
                                            </form>
                                        </th>
                                        <!-- <th>{{ stock.id }}</th>
                                        <th>{{ stock.tmc_id }}</th>
                                        <th>{{ stock.q1 }}</th>
                                        <th>{{ stock.namad }}</th>
                                        <th>{{ stock.nam }}</th>
                                        <th>{{ stock.q2 }}</th>
                                        <th>{{ stock.avalin }}</th>
                                        <th>{{ stock.payani }}</th>
                                        <th>{{ stock.akharin_moamele }}</th>
                                        <th>{{ stock.tedad_moamelat }}</th>
                                        <th>{{ stock.hajm_moamelat }}</th>
                                        <th>{{ stock.arzesh_moamelat }}</th>
                                        <th>{{ stock.baze_rooz_kam }}</th>
                                        <th>{{ stock.baze_rooz_ziad }}</th>
                                        <th>{{ stock.dirooz }}</th>
                                        <th>{{ stock.eps }}</th>
                                        <th>{{ stock.q3 }}</th>
                                        <th>{{ stock.q4 }}</th>
                                        <th>{{ stock.q5 }}</th>
                                        <th>{{ stock.q6 }}</th>
                                        <th>{{ stock.mojaz_ziad }}</th>
                                        <th>{{ stock.mojaz_kam }}</th>
                                        <th>{{ stock.q7 }}</th>
                                        <th>{{ stock.q8 }}</th> -->
                                        {% for i,j in stock.fields.items %}
                                            <th>{{j}}</th>
                                        {% endfor %}
                                    </tr>
                                {%endfor%}
                            </tbody>
                    </table>
               </div>
                
         
            </div>
       </div>
    </div>  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>